.container {
  height: 100%;
  overflow: hidden;
  gap: 10px;
  display: flex;
  flex-direction: column;
  color: #ddd;
}

.title {
  margin: 10px 0;
}

.treeContainer {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.shapeItem {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.isSelected {
  background-color: #ffff4444;
}

.labelContainer {
  display: flex;
  gap: 5px;

  .label {
    font-family: sans-serif;
  }

  .deleteButton {
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 5px;
    line-height: 0;
    background-color: #773344;

    &:hover {
      background-color: #993344;
    }
  }
}

.shapeChildren {
  font-size: 0.9em;
}
