.container {
  height: 100%;
  overflow: hidden;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 8px 0px;
}

.treeContainer {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
