html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  * {
    box-sizing: border-box;
  }
}

#root {
  height: 100%;
}

/* Top Toolbar */
.top-toolbar {
  height: 50px;
  background: #0f172a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

/* Main Content Area */
.main-container {
  display: flex;
  width: 100%;
  height: calc(100% - 50px);
}

.left-bar {
  max-width: 200px;
  background: rgb(30, 41, 59);
  padding: 10px;
}

.right-bar {
  width: 250px;
  background: rgb(30, 41, 59);
  padding: 5px 10px;
}

.center-area {
  display: flex;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
}
