.projectInfo {
  display: flex;
  gap: 10px;
}

.projectName {
  font-size: 1.5em;
  width: 200px;
  overflow: hidden;
  border-radius: 5px;
  padding: 5px 10px;

  &:hover {
    background-color: rgb(30, 41, 59);
  }
}

.nameInput {
  border-radius: 5px;
  font-size: 1.5em;
  width: 200px;
  padding: 5px 10px;
}

.button {
  margin: 0 10px;
  padding: 5px 10px;
  background: rgb(37, 99, 235);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  align-self: center;
}
