.projectInfo {
    display: flex;
    gap: 10px;
}

.projectName {
    font-size: 1.5em;
    margin: 10px;
    width: 200px;
    overflow: hidden;
}

.button {
    margin: 0 10px;
    padding: 5px 10px;
    background: #555;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-self: center;
}

